   <footer class="container-fluid bg-warning text-dark p-1">
       <div class="container pt-3">
                  <p class="text-center">Copyright &copy; Lifetechfacts - 
        <% const copyDate = new Date() %>
        <%= copyDate.getFullYear() %>

       </p>
       </div>

   </footer>
</body>
</html>