<%-include('../partials/head.ejs')%>
<%-include('../partials/nav.ejs')%>
<div class="container py-5 text-center">
      <h2>Ops</h2>
      <h3>Error 404. </h3>
      <p>Page Not Found Back to <a href="/">Home</a></p>
</div>
<%-include('../partials/footer.ejs')%>