<%-include('../partials/head.ejs')%>
<%-include('../partials/nav.ejs')%>
<div class="container py-5">
      <h2 class="text-center mb-5">About Page</h2>

      <div class="about-content">
            <p>Ullamco qui amet in qui excepteur ad excepteur sit. Proident esse ex anim velit pariatur qui ad adipisicing anim incididunt culpa sint consectetur. Ipsum ipsum id sint consequat sunt incididunt qui occaecat eiusmod cupidatat do aliqua. Anim fugiat ea veniam non mollit anim magna deserunt. Mollit est duis consectetur id.</p>

<p>Proident dolore amet sunt ea amet ut adipisicing aute dolor. Cillum voluptate qui culpa amet. Laboris non proident tempor nostrud sunt ea.</p>
      </div>
  </div>
  
<%- include('../partials/footer.ejs')%>